{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>Trail Tracker</h1>

    <table>
        <tr>
            <th>Trail name</th>
            <th>Coordinates</th>
            <th>Date Traveled</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>PLACEHOLDER</td>
            <td>PLACEHOLDER, PLACEHOLDER</td>
            <td>PLACE/HOL/DER</td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
        </tr>

    </table>

    <form action ="/" method="POST">
        <input type="text" name="trailname" id="trailname" placeholder="Enter Trailname">
        <input type="text" name="latitude" id="latitude" placeholder="Enter Latitude">
        <input type="text" name="longitude" id="longitude" placeholder="Enter Longitude">
        <input type="text" name="adddate" id="adddate" placeholder="Enter Travel Date (MM/DD/YYYY)">
        <input type="submit" value="Add Trail">
    </form>
    
</div>
{% endblock %}