{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>Trail Tracker</h1>
    <table>
        <tr>
            <th>Trail name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Date Traveled</th>
            <th>Actions</th>
        </tr>
        {% for trail in trails %}
            <tr>
                <td>{{ trail.trailname }}</td>
                <td>{{ trail.latitude}}</td>
                <td>{{ trail.longitude }}</td>
                <td>{{ trail.date_added }}</td>
                <td>
                    <a href="https://www.google.com/maps?q={{ trail.latitude }},{{ trail.longitude }}" target="_blank">Waypoint</a>
                    <br>
                    <a href="">Update</a>
                    <br>
                    <a href="/delete/{{trail.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action ="/" method="POST" autocomplete="off">
        <input type="text" name="trailname" id="trailname" placeholder="Enter Trailname" required>

        <!-- Force numbers with decimals -->
        <input type="number" name="latitude" id="latitude" placeholder="Enter Latitude" step="any" required>
        <input type="number" name="longitude" id="longitude" placeholder="Enter Longitude" step="any" required>

        <!-- Force date input -->
        <input type="date" name="adddate" id="adddate" required>

        <input type="submit" value="Add Trail">
    </form>
    
</div>
{% endblock %}